<a href="https://colab.research.google.com/github/NNN-0503/AICS1/blob/main/AICS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
List = [['Apple', 'Orange'], ['MANGO','Cheery']]
# accessing an element from the Multi-Dimensional List using index number
print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from a Multi-Dimensional list
Orange
MANGO

In [1]:
L=[6,9,2,5,3]
print("The minimum of the list is",min(L))
print("The maximum of the list is",max(L))

The minimum of the list is 2
The maximum of the list is 9

In [2]:
list = [1, 2,3,4,5,6,9,7]
print(len(list))

8

In [3]:
DICT = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(DICT))

<class 'dict'>

In [5]:
# Creating a Nested Dictionary
Dict = {1: 'HELLO', 2: 'EVERYONE',
        3: {'A': 'this', 'B': 'is', 'C': 'dictionary'}}
  
print(Dict)

{1: 'HELLO', 2: 'EVERYONE', 3: {'A': 'this', 'B': 'is', 'C': 'dictionary'}}

In [9]:
# Creating a Dictionary
Dict = {'Rollno': '07', 'First name': 'Netra', 'Last name': 'Nachankar'}
  
# accessing a element using key
print("Accessing a element using key:")
print(Dict['First name'])  
# accessing a element using key
print("Accessing a element using key:")
print(Dict['Rollno'])

Accessing a element using key:
Netra
Accessing a element using key:
07

In [10]:
# Creating a Dictionary
Dict = {'Gold': {'India': 10},
        'Silver': {'USA': 5}}
  
# Accessing element using key
print(Dict['Gold'])
print(Dict['Gold']['India'])
print(Dict['Silver']['USA'])

{'India': 10}
10
5